
.task-container {
  display: flex; 
  flex-direction: column; 
  gap: 15px; 
  margin: 20px auto; 
  width: 80%; 
  max-width: 600px; 
}


.task-item {
  background-color: #ff6b6b; 
  border-radius: 8px; 
  padding: 15px;
  display: flex; 
  justify-content: space-between; 
  
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  color: white; /* Text color */
  font-family: "Arial", sans-serif; 
  font-size: 16px; 
  
}

/* Styling for task text */
.task-text {
  font-weight: bold;
}


.task-date {
  font-style: italic; 
  font-size: 14px;
}
ul{
  list-style: none;
}
.flex{
  display: flex;
  flex-direction: row;
}

.check{
  width: 50px;
  height: 50px;
  align-self: center;
  border-radius: 10px;
  
  
}

.check:hover{
  background-color: #ff6b6b;
}

.youtube-btn {
  padding: 8px 16px;
  margin-top: 8px;
  background-color:  #ff6b6b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.youtube-btn:hover {
  background-color:#444 ;
}

.task-container {
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  background-color: #f5f5f5;
  margin-bottom: 8px;
}